MONGODB_URI="mongodb-uri"
NODE_ENV="development"
SECRET="secret"
MAILTRAP_USER="mailtrap-user"
MAILTRAP_PASS="your-mailtrap-pass"
EMAIL_FROM="your-email"
DB_NAME="DB-name"
NAME_FROM="Your-name"
SENDGRID_API="your-sendgrip-api"
# Use mailtrap or sendgrid
# MAIL_METHOD="mailtrap"
MAIL_METHOD="sendgrid"
HOST_URL="http://localhost:3000"
# For netlify you need the node version
NODE_VERSION="16.13.0"
